section.gallery
	.container
		.row
			.col-md-12.col-sm-12.col-xs-12
				.heading__block.center-md.center-sm.center-xs
					h2 Галерея
		.row.center-sm.center-xs.gallery__row
			.col-md-4.gallery__block
				a(href="img/gallery.png").gallery__link
					img.gallery__image(src="img/gallery.png", alt="")
					.gallery__green
						i.icon-zoom.gallery__green__icon.center-md.middle-md.center-sm.middle-sm.center-xs.middle-xs.flex
			.col-md-4.gallery__block
				a(href="img/gallery.png").gallery__link
					img.gallery__image(src="img/gallery.png", alt="")
					.gallery__green
						i.icon-zoom.gallery__green__icon.center-md.middle-md.center-sm.middle-sm.center-xs.middle-xs.flex
			.col-md-4.gallery__block
				a(href="img/gallery.png").gallery__link
					img.gallery__image(src="img/gallery.png", alt="")
					.gallery__green
						i.icon-zoom.gallery__green__icon.center-md.middle-md.center-sm.middle-sm.center-xs.middle-xs.flex
			.col-md-4.gallery__block
				a(href="img/gallery.png").gallery__link
					img.gallery__image(src="img/gallery.png", alt="")
					.gallery__green
						i.icon-zoom.gallery__green__icon.center-md.middle-md.center-sm.middle-sm.center-xs.middle-xs.flex
			.col-md-4.gallery__block
				a(href="img/gallery.png").gallery__link
					img.gallery__image(src="img/gallery.png", alt="")
					.gallery__green
						i.icon-zoom.gallery__green__icon.center-md.middle-md.center-sm.middle-sm.center-xs.middle-xs.flex
			.col-md-4.gallery__block
				a(href="img/gallery.png").gallery__link
					img.gallery__image(src="img/gallery.png", alt="")
					.gallery__green
						i.icon-zoom.gallery__green__icon.center-md.middle-md.center-sm.middle-sm.center-xs.middle-xs.flex
			.col-md-4.gallery__block
				a(href="img/gallery.png").gallery__link
					img.gallery__image(src="img/gallery.png", alt="")
					.gallery__green
						i.icon-zoom.gallery__green__icon.center-md.middle-md.center-sm.middle-sm.center-xs.middle-xs.flex
			.col-md-4.gallery__block
				a(href="img/gallery.png").gallery__link
					img.gallery__image(src="img/gallery.png", alt="")
					.gallery__green
						i.icon-zoom.gallery__green__icon.center-md.middle-md.center-sm.middle-sm.center-xs.middle-xs.flex
			.col-md-4.gallery__block
				a(href="img/gallery.png").gallery__link
					img.gallery__image(src="img/gallery.png", alt="")
					.gallery__green
						i.icon-zoom.gallery__green__icon.center-md.middle-md.center-sm.middle-sm.center-xs.middle-xs.flex
			.col-md-4.gallery__block.gallery__none
				a(href="img/gallery.png").gallery__link
					img.gallery__image(src="img/gallery.png", alt="")
					.gallery__green
						i.icon-zoom.gallery__green__icon.center-md.middle-md.center-sm.middle-sm.center-xs.middle-xs.flex
			.col-md-4.gallery__block.gallery__none
				a(href="img/gallery.png").gallery__link
					img.gallery__image(src="img/gallery.png", alt="")
					.gallery__green
						i.icon-zoom.gallery__green__icon.center-md.middle-md.center-sm.middle-sm.center-xs.middle-xs.flex
			.col-md-4.gallery__block.gallery__none
				a(href="img/gallery.png").gallery__link
					img.gallery__image(src="img/gallery.png", alt="")
					.gallery__green
						i.icon-zoom.gallery__green__icon.center-md.middle-md.center-sm.middle-sm.center-xs.middle-xs.flex
			.col-md-12.col-sm-12.col-xs-12
				.flex.center-md.center-sm.center-xs
					a(href="#").more.more__gallery Показать еще