doctype
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Гео
		link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
		link(rel="stylesheet", href="css/styles.css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=cyrillic" rel="stylesheet")
body
	header.header
		.container
			.row.middle-md.center-md
				.col-md-2
					.header__logo
						img(src="img/logo.png", alt="Logo")
				.col-md-3
					p.header__phone 8 (4872) 740-351
				.col-md-2
					a(href="#").order Заказать звонок
				.col-md-3
					p.header__email info@geo50rus.ru
				.col-md-2
					.header__city Россия, г.Тула 
	nav.nav
		.container
			.row.middle-md
				.col-md-12
					ul.nav__list.flex
						li
							a(href="#") Главная
						li
							a(href="#") Геологические изыскания
						li
							a(href="#") Геодезические изыскания
						li
							a(href="#") Экология
						li
							a(href="#") Отзывы
						li
							a(href="#") Статьи
						li
							a(href="#") Контакты
	block content

	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
	script(src="js/main.js")

	block script