extends include/layout.jade

block content
	section.breadcrumb
		.container
			.row.middle-md
				.col-md-12
					span.breadcrumb__text Главная
					span.breadcrumb__text Геодезические изыскания
				.col-md-12.col-sm-12.col-xs-12
					.heading__block.center-md
						h1 СТОИМОСТЬ ПРОВЕДЕНИЯ ИНЖЕНЕРНО-ГЕОЛОГИЧЕСКИХ ИЗЫСКАНИЙ В КРАСНОДАРЕ
	.container
		.row
			.col-md-3
				section.sidebar
					ul.sidebar__menu
						li.sidebar__menu__item 
							a(href="#") Геодезические изыскания
							ul.sidebar__menu__sub
								li.sidebar__menu__sub__item 
									a(href="#") Инженерно-гидрометеорологичские исследования
								li.sidebar__menu__sub__item 
									a(href="#") Топографическая съемка
						li.sidebar__menu__item 
							a(href="#") Геологические изыскания
							ul.sidebar__menu__sub
								li.sidebar__menu__sub__item 
									a(href="#") Геология земельного участка
								li.sidebar__menu__sub__item  
									a(href="#") Инженерно-гидрогеологические изыскания

								li.sidebar__menu__sub__item 
									a(href="#") Геологические исследования грунта
						li.sidebar__menu__item 
							a(href="#") Экологические изыскания
			.col-md-9.col-sm-12.col-xs-12
				.container
					.row
						.col-md-12.col-sm-12.col-xs-12
							p <img class="article-image" src="img/article-image.png", alt=""> Проведение инженерно-геологических изысканий в Краснодареявляется обязательным этапом перед проектированием и строительством, даже если планируется постройка небольшого коттеджа или дачного дома. При отсутствии данных по геологическим условиям участка в дальнейшем могут возникнуть серьезные проблемы с конструкцией строения, надежностью фундамента и т. д.
							p Геологические изыскания осуществляются нашей организацией на любой стадии проектирования, то есть, можно заказать выполнение работ как на стадии технико-экономического обоснования, так и в процессе составления рабочей документации. Причем, геологические изыскания для проектированияможно заказать и для административных зданий, и для малоэтажных объектов, и для многоэтажных жилых домов.
							p Геологические изыскания осуществляются нашей организацией на любой стадии проектирования, то есть, можно заказать выполнение работ как на стадии технико-экономического обоснования.
							h4 ФОРМИРОВАНИЕ СТОИМОСТИ ГЕОЛОГИЧЕСКИХ ИЗЫСКАНИЙ
							p Стоимость геологических изысканий может зависеть от многих факторов. Так, на цену работ может влиять сложность объекта и территории, на которой он расположен, общая площадь, необходимость в согласовании документации и разрешений с эксплуатационными службами.
							p Обязательно в стоимость входит объем проводимых работ:
							ul
								li Изучением материалов по геодезии прошлых лет;
								li Рекогносцировкой исследуемой местности или трассы;
								li Топографической съемкой и вынесением в натуру;
								li Составлением планов;
								li Камеральной проверкой и составлением технического отчета.
							p От объема работ в каждом из этих этапов и будет зависеть цена. Но стоит отметить, что проводя инженерно-геологические исследования, мы предлагаем наиболее приемлемые цены в на инженерно-геологические исследования в Краснодаре. Этого удалось достичь благодаря четко слаженным действиям наших сотрудников, выполнению всех работ в точности с техническим заданием и многолетнему опыту в сфере инженерных изысканий.
							p.date.end-md.flex 28.11.2016г.
						.col-md-12.col-sm-12.col-xs-12
							section.author.share
								.row
									.col-md-6.flex.middle-md
										.author__image
											img(src="img/author.png", alt="")
										div.author__block
											p.author__name Имя Фамилия
											p.author__who Автор
									.col-md-6
										.share__block.middle-md.end-md.flex
											a(href="#").share__block__link.share
												span.icon-share
											a(href="#").share__block__link.facebook
												span.icon-facebook
											a(href="#").share__block__link.twitter
												span.icon-twitter
													span.path1
													span.path2
											a(href="#").share__block__link.vk
												span.icon-vk
													span.path1
													span.path2
											a(href="#").share__block__link.google
												span.icon-google-plus
						.col-md-12.col-sm-12.col-xs-12
							.row
								.col-md-12.col-sm-12.col-xs-12
									h3 Похожие статьи
								.col-md-4.col-sm-4.col-xs-12
									+block-more2("Цены на геодезические съёмки и работи в Краснодаре", "img/block-more.png")
								.col-md-4.col-sm-4.col-xs-12
									+block-more2("Инженерная геология и проектирование домов и коттеджей", "img/block-more.png")
								.col-md-4.col-sm-4.col-xs-12
									+block-more2("Скважина своими руками", "img/block-more.png")



