extends include/layout.jade

block content
	section.breadcrumb
		.container
			.row.middle-md
				.col-md-12
					span.breadcrumb__text Главная
					span.breadcrumb__text Контакты
	section.content__inside
		.container
			.row
				.col-md-12.col-sm-12.col-xs-12
					.heading__block.center-md
						h1 Контакты
				.col-md-12.col-sm-12.col-xs-12
					#map(style="width: 100%; height: 400px")
				.col-md-12.col-sm-12.col-xs-12
					.heading__block.center-md
						h3 Данные об организации
					.row 
						.col-md-1
						.col-md-10
							p Какой то текст, какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,какой то текст,Контактыкой то текст,какой то текст,какой то текст,какой то текст
						.col-md-1
				.col-md-12.col-sm-12.col-xs-12
					.row
						.col-md-1
						.col-md-10
							.adress
								.adress__1
									span <span class="adress__bold">Юридческий адрес:</span> Россия, Москва, ул. Щипок, д. 16, строение 1, офис 24
								.adress__2
									span <span class="adress__bold">Фактический адрес:</span> Россия, Москва, ул. Щипок, д. 16, строение 1, офис 24
						.col-md-1