extends include/layout.jade

block content
	section.slider
	section.content
		.container
			.row
				.col-md-12
					.heading__block.center-md
						h2.heading Инженерные изыскания от GEO50 Москва
			.row
				.col-md-12
					p <span class="geo">G</span>EO50 Регион проводит почвенные экологические изыскания совместно с другими видами инженерных исследований или же отдельным комплексом работ. Компания готова предложить выполнение экологического консалтинга который включает в свой состав экологические исследования и экологическое проектирование (создание экологических проектов).
	section.advantages
		.container
			.row.center-md
				.col-md-12
					.heading__block.center-md
						h2.heading.heading__white Наши преимущества
				.col-md-2
					figure.advantages__block
						img(src="img/advantages/1.png", alt="")
						p Наличие <span class="advantages__block__red">собственной лаборатории</span> для проведения исследований
				.col-md-2
					figure.advantages__block
						img(src="img/advantages/2.png", alt="")
						p Наличие <span class="advantages__block__red">собственного оборудования</span> для проведения изысканий
				.col-md-2
					figure.advantages__block
						img(src="img/advantages/3.png", alt="")
						p Специалисты приступают к работе в течении <span class="advantages__block__red">2х</span> дней с момента подписания договора
				.col-md-2
					figure.advantages__block
						img(src="img/advantages/4.png", alt="")
						p <span class="advantages__block__red">Более 1000 проектов</span>, прошедших экспертизу и введенных в эксплуатацию
				.col-md-2
					figure.advantages__block
						img(src="img/advantages/5.png", alt="")
						p За всё время работы компании <span class="advantages__block__red">ни одного</span> судебного иска
				.col-md-2
					figure.advantages__block
						img(src="img/advantages/6.png", alt="")
						p <span class="advantages__block__red">8 полных лет</span> на рынке – таких компаний <span class="advantages__block__red">меньше 20%</span> на рынке
	section.target
		.container
			.row.center-md
				.col-md-12
					.heading__block.center-md
						h2.heading Цель проводимых работ
				.col-md-6
					p Определение пространственной структуры, а также границы распространения, состава и мощности загрязнения окружающей природной среды, которое требует осуществления рекультивации или санации для конкретно обозначенных типов функционального использования земельного участка
					p Разработка научно обоснованных рекомендаций по безопасному использованию или же перемещению грунтов и почв в процессе проведения строительных и земляных работ
				.col-md-6
					p Разработка плана мероприятий, целью которых является предотвращение, уменьшение или ликвидация опасного воздействия патогенных и санитарно-показательных микроорганизмов, радиоактивных и загрязняющих химических веществ, возбудителей паразитных болезней на организм людей, а также на объекты природной среды в процессе реализации проведения проектных решений либо строительно-монтажных работ на исследуемой территории.
					p Предоставление выводов об уровне и характере загрязнения исследуемой территории